.TagsInput {
	text-align: left;
	position: relative;
	border-radius: 0.5rem;
	input {
		&::placeholder {
			overflow: visible;
		}
	}
	.Tags {
		position: absolute;
		display: flex;
		left: 1.6rem;
		top: 4.3rem;
		.tag {
			margin-right: 0.8rem;
			display: flex;
		}
	}
	.customInput__info {
		position: absolute;
		bottom: -2.2rem;
		left: 0;
		font-weight: 300;
		font-size: 1.3rem;
		animation: 0.15s ease-in-out errorAnimation forwards;
	}
	.customInput__error {
		bottom: -2.2rem;
	}
}
