// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.Home {
	text-align: center;
}
.Home__alreadyMember {
	margin-top: 6.4rem;
	h3 {
		font-size: $h3-desktop;
		color: $darkest-gray;
	}
}
.Home__alreadyMember--buttons {
	@include flex-center;
	margin-top: 2.4rem;
	@include mq(small) {
		flex-direction: column;
	}
	.btn:first-child {
		margin-right: 2.4rem;
		@include mq(large) {
			margin-right: 0;
		}
	}
	a {
		&:first-child {
			margin-right: 1.6rem;
			@include mq(small) {
				margin-right: 0;
				margin-bottom: 1.6rem;
			}
		}
	}
}
.Home__bigCard {
	background: #f4f4f4;
	border-radius: 0.8rem;
	max-width: 100%;
	height: 40rem;
	display: flex;
	position: relative;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	@include mq(extra-large) {
		height: 30rem;
	}
	@include mq(large) {
		flex-direction: column;
		height: auto;
	}
	.image-side {
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		@include mq(large) {
			width: 100%;
			height: 35rem;
			border-radius: 0;
		}
	}
	.text-side {
		padding: 0 3.2rem;
		text-align: left;
		width: 100%;
		@include mq(small) {
			text-align: center;
		}
		h3 {
			font-size: $h2-desktop;
			margin-top: 7.2rem;
			margin-bottom: 4.8rem;
			@include mq(extra-large) {
				margin-top: 3.2rem;
				margin-bottom: 3.2rem;
			}
		}
		p {
			line-height: 2.4rem;
		}
		.btn {
			position: absolute;
			bottom: 2.4rem;
			@include mq(large) {
				position: relative;
				bottom: auto;
				margin: 3.2rem 0 3.2rem 3.2rem;
			}
			@include mq(small) {
				margin: 3.2rem 0;
			}
		}
	}
	&.job {
		margin-top: 6.4rem;
		margin-bottom: 4.8rem;
		.btn {
			right: 3.2rem;
			@include mq(small) {
				right: 0;
			}
		}
		.image-side {
			border-top-left-radius: 0.8rem;
			border-bottom-left-radius: 0.8rem;
			@include mq(large) {
				border-radius: 0;
			}
		}
	}
	&.staff {
		@include mq(large) {
			flex-direction: column-reverse;
		}
		.btn {
			left: 3.2rem;
			@include mq(large) {
				left: 0;
				margin-left: 0;
			}
		}
		.image-side {
			border-top-right-radius: 0.8rem;
			border-bottom-right-radius: 0.8rem;
			@include mq(large) {
				border-radius: 0;
			}
		}
	}
}
