.SendMessage {
    position: relative;
    margin: 0rem 0 0 4rem;
    min-height: calc(100vh - 25rem);
    .customInput__wrapper {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}
