.authNavbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: $dark-gray;
	padding: $nav-padding;
	width: 100%;
	background: $white;
	font-weight: 300;
	border-bottom: 0.1rem solid $gray;
	position: relative;
	@include mq(small) {
		padding: 1.6rem 1.6rem;
	}
}

.authNavbar__dropdownButton {
	border: 0;
	color: $white;
	background: rgba(0, 0, 0, 0);
	font-size: $p-desktop;
	display: none;
	@include trans;
	@include mq(small) {
		display: block;
	}
}
.authNavbar__rightLinks {
	@include mq(small) {
		display: none;
	}
}
.authNavbar__rightLinks--link {
	border-bottom: 0;
	color: $dark-gray;
	padding: 0 3.2rem;
	position: relative;
	left: 0;
	@include longer-trans;
	&:hover {
		color: $darkest-gray;
	}
	&:after,
	&:first-child::before {
		content: '';
		display: block;
		position: absolute;
		width: 0.1rem;
		height: 5rem;
		background: $gray;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		@include mq(small) {
			display: none;
		}
	}
	&:first-child:before {
		left: 0;
	}
	@include mq(small) {
		display: block;
		padding: 1.6rem 0;
		color: $dark-blue !important;
		&:hover {
			background: #f1f1f1;
			text-transform: none;
		}
	}
}
.noBG {
	background: rgba(0, 0, 0, 0);
	color: $gray;
	border: 0;
	.authNavbar__rightLinks--link {
		font-size: 1.4rem;
		color: $gray;
		&:before {
			display: none;
		}
		&::after {
			content: '';
			position: absolute;
			right: 50%;
			top: 2.3rem;
			transform: translateX(50%);
			width: 0;
			height: 0.1rem;
			background: $white;
			@include trans;
		}
		&:hover {
			color: $white;
			&::after {
				width: calc(100% - 6.4rem); // - padding
			}
		}
	}
	.authNavbar__description {
		font-size: 1.4rem;
	}
}

// Mobile Active navbar
.authNavbar.noBG.active {
	@include mq(small) {
		background: rgba(255, 255, 255, 1);
		color: $dark-blue;
		z-index: 10;
		.authNavbar__dropdownButton {
			transform: rotate(180deg);
			color: $dark-blue;
		}
		.authNavbar__rightLinks {
			background: rgba(255, 255, 255, 1);
			display: block;
			position: absolute;
			top: 5.7em;
			left: 0;
			right: 0;
			z-index: 9;
		}
	}
}

.authNavbar__middleLinks {
	text-align: center;
	width: 100%;
}
.authNavbar__middleLinks--link {
	border-bottom: 0;
	color: $dark-gray;
	padding: 0 3.2rem;
	position: relative;
	font-weight: 400;
	@include trans;
	&:hover {
		color: $dark-blue;
	}
	&:after,
	&:first-child::before {
		content: '';
		display: block;
		position: absolute;
		width: 0.1rem;
		height: 5rem;
		background: $gray;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}
	&:first-child:before {
		left: 0;
	}
	&.active {
		color: $dark-blue;
	}
	.icon {
		margin-right: 5px;
	}
}
.authNavbar__goBackLink {
	font-size: $p-small-desktop;
	position: absolute;
	left: 4rem;
	top: 50%;
	transform: translateY(-50%);
	font-weight: 400;
	@include text-trans;
	&:hover {
		color: $black;
		cursor: pointer;
	}
}
