// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
$headings-font-stack: 'PT Sans', sans-serif;
$paragraphs-font-stack: 'Lato', sans-serif;

/// Code (monospace) font family
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
	'Monaco', monospace !default;

/// Font Sizes
$h1-desktop: 4rem;
$h2-desktop: 3.2rem;
$h3-desktop: 2.8rem;
$h4-desktop: 2.4rem;
$h5-desktop: 2rem;
$h6-desktop: 1.6rem;

$p-desktop: 1.8rem;
$p-small-desktop: 1.6rem;

/// Colors
$transparent: rgba(0, 0, 0, 0);
$white: #ffffff;
$black: #000000;

// Grays
$lightest-gray: #f9f9f9;
$gray: #e5e5e5;
$dark-gray: #ababab;
$darkest-gray: #414141;

// Blues
$dark-blue: #124b6b;
$blue: #17597e;
$light-blue: #26b6bd;
$dark-light-blue-gradient: linear-gradient(45deg, #16587d 0%, #2686bd 100%);

// Greens
$green: #13903e;

// Reds
$red: #b91515;

/// Margins / Paddings
$nav-padding: 16px 40px;

/// Container's maximum width
$max-width: 1600px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
	'small': 320px,
	'medium': 768px,
	'large': 1024px,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
/// $base-url: 'http://domain.com/assets/';
$base-url: '/assets/' !default;
