// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
$headings-font-stack: 'PT Sans', sans-serif;
$paragraphs-font-stack: 'Lato', sans-serif;

/// Code (monospace) font family
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Font Sizes
$h1-desktop: 4rem;
$h2-desktop: 3.2rem;
$h3-desktop: 2.8rem;
$h4-desktop: 2.4rem;
$h5-desktop: 2rem;
$h6-desktop: 1.6rem;

$p-desktop: 1.8rem;
$p-small-desktop: 1.6rem;


/// Colors
$white: #FFFFFF;
$black: #000000;

// Grays
$lightest-gray: #F9F9F9;
$gray: #E5E5E5;
$dark-gray: #ABABAB;
$darkest-gray: #414141;

// Blues
$dark-blue: #124B6B;
$blue: #17597E;
$light-blue: #26B6BD;
$dark-light-blue-gradient: linear-gradient(45deg, #16587D 0%, #2686BD 100%);

// Greens
$green: #13903E;

// Reds
$red: #B91515;






/// Container's maximum width
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
/// $base-url: 'http://domain.com/assets/';
$base-url: '/assets/' !default;
