// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
	box-sizing: border-box;
}
body {
	background: $lightest-gray;
	min-height: 100vh;
	padding-bottom: 11.2rem;
	position: relative;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
	box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
	text-decoration: none;
	font-size: $p-small-desktop;
	color: $black;
	outline: none;
	&:hover,
	&:active,
	&:focus {
		outline: none;
	}
}
